@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
	font-family: Roboto, sans-serif;
	background-color:#1f2937;
	height:100vh;
	margin:0;
	padding:0 200px;

	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	box-sizing:border-box;
}

/* header */
a{
	text-decoration:none;
	color:#e5e7eb;
	font-size:18px;
}

ul{
	display:flex;
	list-style:none;
	padding:0;
	gap:8px;
}

.header{
	display:flex;
	justify-content:space-between;
}

.header-logo{
	align-self:center;
	color:#f9faf8;
	font-size:24px;
}

/* hero */
.hero-container{
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	padding-right:32px;
}

.hero-main-text{
	color:#f9faf8;
	font-size:48px;
	font-weight:900;
}

.hero-2nd-text{
	color:#e5e7eb;
	font-size:18px;
}

.hero-container .button{
	color: #f9f9f9;
	background-color:#3882f6;
	border:none;
	border-radius:5px;
	width:max-content;
	padding:4px 16px;
}

.hero-container .button:active{
	background-color:#3275DD;
}

img{
	height:auto;
	width:600px;
	border-radius:5px;
}

.hero-img{
	align-self:center;
	width:auto;
	margin-left:auto;
}

/* information */
.information{
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items:center;
	background-color:white;
}

.info-cards{
	display:flex;
	justify-content:space-between;
}